@use 'tokens';
@use 'breakpoints';
@use '../components/header/header';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-text);
  background: var(--color-background);
}
